/******************************************************************
Site Name:
Author:

Stylesheet: Layout Stylesheet
******************************************************************/

body{
	overflow-y: scroll;
}

.wrapper {
	@include clearfix;
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
}

.container {
	@include clearfix;
	width: 100%;
}

#container {}

  .header {}

    #inner-header {}

        .logo-container {
            @include grid (4);
            @include break(tablet, 12);
            @include break(mobile, 12);
        }

        #sidebar-header {
            @include grid(4, $push:4);
        }

        .top-nav {
            @include grid (12);
        }

    #inner-content {}

        .full {
            @include grid (12);
        }

        .main {
            @include grid(9);
            @include break(tablet, 12);
            @include break(mobile, 12);
        }

.profile {
    @include grid(12);
}

.profile-image {
    @include grid(4);
    @include break(tablet, 12);
    @include break(mobile, 12);
}

.profile-bio {
    @include grid(8);
    @include break(tablet, 12);
    @include break(mobile, 12);
}

.profile-bio-no-image  {
    @include grid(12);
}


       .sidebar {
            @include grid(3);
            @include break(tablet, 12);
            @include break(mobile, 12);
       }
